{{ read_file("../../external/ld80-description/ld80-description.txt") }}

Here is the metadata for the corpus:

{{ read_file("../../interim/ld80-metadata/ld80-metadata.jsonl") }}

Please assess the gender balance of the CLDW authors, reporting the total number of male and the total number of female authors.
